.container
	.slider-chat
		.chats
				.chat1(style='display:none') Hi, hows it going?
				.chat2(style='display:none') Not doing bad, how are you?
				.chat3(style='display:none') I'm doing ok, did you want to go to the park still?
				.chat4(style='display:none') Yeh I'll be there in 25mins
		.chats
				.chat1(style='display:none') Yo what time is that gig?
				.chat2(style='display:none') Dunno I'm headin at about 7:30ish
				.chat3(style='display:none') Cool I think we will be there at 8pm. Looking forward to seeing them again.
				.chat4(style='display:none') Defo its going to epic! c u there.
		.chats
				.chat1(style='display:none') 9
				.chat2(style='display:none') 10
				.chat3(style='display:none') 11
				.chat4(style='display:none') 12
		.chats
				.chat1(style='display:none') 13
				.chat2(style='display:none') 14
				.chat3(style='display:none') 15
				.chat4(style='display:none') 16