doctype html
html(lang="en")

head
  title chat slider
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet" href="css/main.css")

body
  .container
    .slider-chat
      .chats
          .chat1 Hi, hows it going?
          .chat2 Not doing bad, how are you?
          .chat3 I'm doing ok, did you want to go to the park still?
          .chat4 Yeh I'll be there in 25mins
      .chats
          .chat1 Yo what time is that gig?
          .chat2 Dunno I'm headin at about 7:30ish
          .chat3 Cool I think we will be there at 8pm. Looking forward to seeing them again.
          .chat4 Defo its going to epic! c u there.
      .chats
          .chat1 9
          .chat2 10
          .chat3 11
          .chat4 12
      .chats
          .chat1 13
          .chat2 14
          .chat3 15
          .chat4 16

script(src="js/app.js")